@font-face {
   src: url("./fonts/Poppins-Bold.ttf");
   src: url("./fonts/Poppins-Medium.ttf");
   src: url("./fonts/Poppins-ExtraBold.ttf");
   src: url("./fonts/Poppins-SemiBold.ttf");
   src: url("./fonts/Poppins-Regular.ttf");
}

.container-fluid_header{
   background-image: url("./img/backgraund.jpg");
   width: 100%;
   height: 95%;
   max-width: 100%;
}
.container-fluid_header .btn{
   position: absolute;
   top: 11%;
   left: 92%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   background-color: #f1f1f1;
   color: black;
   font-size: 14px;
   padding: 10px 30px;
   border: none;
   cursor: pointer;
   border-radius: 30px;
   text-align: center;
   font-family: Poppins-Bold;
}
.container_menu{
   display: inline-block;
   cursor: pointer;
   position: absolute;
   top: 11%;
   left: 4%;
}
.bar1, .bar2, .bar3 {
   width: 35px;
   height: 4px;
   background-color: white;
   margin: 6px 0;
}
.container-fluid_text {
   position: absolute;
   margin-top: -30%;
   color: white;
   text-align: center;
   font-family: Poppins-Regular;
   font-size: 29px;
}
.container-fluid_text h2{
   padding: 30px

}
/*.container-fluid_text button{*/
/*   position: absolute;*/
/*   transform: translate(-50%, -50%);*/
/*   -ms-transform: translate(-50%, -50%);*/
/*   !*background-color: red;*!*/
/*   color: black;*/
/*   font-size: 14px;*/
/*   padding: 30px 150px;*/
/*   border: none;*/
/*   cursor: pointer;*/
/*   border-radius: 30px;*/
/*   text-align: center;*/
/*   background: rgb(255,89,91);*/
/*   background: linear-gradient(90deg, rgba(255,89,91,1) 0%, rgba(239,41,136,1) 50%);*/
/*}*/

.container-fluid_text button1{
   /*position: absolute;*/
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   /*background-color: red;*/
   color: white;
   font-size: 22px;
   padding: 10px 40px;
   border: none;
   cursor: pointer;
   border-radius: 30px;
   text-align: center;
   background: rgb(255,89,91);
   background: linear-gradient(90deg, rgba(255,89,91,1) 0%, rgba(239,41,136,1) 50%);
}
.col-sm-6-jenifer{
   margin-left: -10%;
   width: 10%;
   height: 30%;
   padding-top: 5%;
}
.col-sm-6-jenifer p {
   width: 25%;
   margin-left: 5%;
   height: 10%;
   position: absolute;
   color: black;
   font-size: 22px;
   font-family:Sans-serif Bold;
}

.hexsagon{
   margin-left: 40%;
   width: 250px;
   height: 500px;
   background-position:center;
   background: green;
   overflow: hidden;
   visibility: hidden;
   -moz-transform: rotate(120deg);
   -ms-transform: rotate(120deg);
   -o-transform: rotate(120deg);
   -webkit-transform: rotate(120deg);
}
.hexsagon-in{
   width: 100%;
   height: 100%;
   background-position: center;
   background: red;
   transform: rotate(60deg);
   overflow: hidden;
   -moz-transform: rotate(120deg);
   -ms-transform: rotate(120deg);
   -o-transform: rotate(120deg);
   -webkit-transform: rotate(120deg);
}
.hexsagon-image{
   width: 100%;
   height: 100%;
   background-image: url("./img/Jenifer_Baker.jpg");
   background-size: 100% 60%;
   background-position: center;
   transform: rotate(60deg);
   visibility: visible;
   -moz-transform: rotate(120deg);
   -ms-transform: rotate(120deg);
   -o-transform: rotate(120deg);
   -webkit-transform: rotate(120deg);


}
.col-sm-6-jenifer p{


}
.col-sm-6 h3{
   margin-left: 20%;
   padding-top: 2%;
}
.col-sm-6-jenifer span{
  color: red;
}
.container-fluid_jenifer button1{
   position: absolute;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   color: white;
   font-size: 20px;
   padding: 10px 10px;
   border: none;
   cursor: pointer;
   border-radius: 30px;
   text-align: center;
   margin-top: 3%;
   margin-left: 16%;
   background: rgb(255,89,91);
   background: linear-gradient(90deg, rgba(255,89,91,1) 0%, rgba(239,41,136,1) 50%);
}
.col-sm-6 mark {
   background: rgb(255,89,91);
   background: linear-gradient(90deg, rgba(255,89,91,1) 0%, rgba(239,41,136,1) 50%);
}
/*.bar4, .bar5, .bar6 {*/
/*   width: 60px;*/
/*   height: 5px;*/
/*   background-color: black;*/
/*   margin: 6px 0;*/
/*}*/
.row_bar{
   padding: 5%;

}
.contanier_bar{
   text-align: center;
   padding-left: 10%;
}
.container-fluid3{
   width: 100%;
   height: 25%;
   background-color: midnightblue;
   padding-top: 20%;
   text-align: center;
   color: white;
   margin-top: -5%;
   font-size: 20px;
}

.container_text{
   margin-top: -20%;
   font-size: 29px;
   font-family: Poppins-Regular;
}
.container-fluid_category{
   width: 100%;
   height: 45%;
   text-align: center;
   margin-top: 1%;
   background-image: url("./img/bg3.jpg" );
   padding-top: 25%;
   font-family: Poppins-Bold;
   font-size: 46px;
   max-width: 100%;

}
.container-fluid_category h2{
   text-align: center;
   color: white;
   margin-top: -25%;
}
.col-sm-2 h4{
   margin-left: 12%;
   margin-top: -7%;
   color: white;
   position: absolute;
}

img{
   max-width: 100%;
}
.col-sm-2 h4{
   margin-top: 10px;
   margin-left: 1%;
}
.container-fluid_online button1{
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   /*background-color: red;*/
   color: white;
   font-size: 22px;
   padding: 10px 40px;
   border: none;
   cursor: pointer;
   border-radius: 30px;
   text-align: center;
   background: rgb(255,89,91);
   background: linear-gradient(90deg, rgba(255,89,91,1) 0%, rgba(239,41,136,1) 50%);
   margin-left: 30%;
}
.col-sm-6 h1{
   margin-left: 40%;
   margin-top: 15%;
}
.col-sm-6 h3{
   margin-top: 2%;
   margin-left: 50%;
}
.col-sm-6 button1{
   margin-left: 28%;
   margin-top: 3%;
   position: absolute;
}
.container-fluid_online{
   max-width: 100%;
   height: 40%;
   padding-bottom: 15%;
}
.col-sm-6_intro {
   padding: 10%;
   margin-left: 40%;
   position: absolute;
}
.container-fluid_hosts .row{
   margin-top: -2%;
   width: 90%;
   text-align: center;
   margin-left: 5%;
}
.col-sm-4 button1{
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   /*background-color: red;*/
   color: white;
   font-size: 22px;
   padding: 10px 40px;
   border: none;
   cursor: pointer;
   border-radius: 30px;
   text-align: center;
   background: darkblue;
   position: relative;
}
.col-sm-4 h3{
   margin-top: 5%;
}
.col-sm-4 h4{
   margin-top: 5%;
}
.container-fluid_hosts .col-sm-4{
   text-align: center;
   margin-top: -30%;
   color: white;
   padding: 5%;
}
.card button1{
   position: absolute;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   color: white;
   font-size: 15px;
   padding: 10px 15px;
   border: none;
   cursor: pointer;
   border-radius: 30px;
   text-align: center;
   background: rgb(255,89,91);
   background: linear-gradient(90deg, rgba(255,89,91,1) 0%, rgba(239,41,136,1) 50%);
   margin-top: 2%;
}
.card{
   text-align: center;
}
.container-fluid_articles {
padding: 10%;
}
.container-fluid_videos {
   background-image: url("./img/bg_111.png");
   max-width: 100%;
   text-align: center;
   color: white;
}

